
body{
    background-color: rgba(0, 255, 128, 0.623);
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-style: italic;
    
}

 
form {
    display: block;
    border: 1px solid black;
    background-color: white;
    max-height:89% ;
    width: 45%;
    padding: 27px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}

div#butao{
    position: relative;
    left: 25px;
    bottom: 0;
}
#enviar:hover{
    background-color: #606060;
    cursor: pointer;
    opacity: 0.7;
    
}

#reset:hover{
    background-color: #606060;
    cursor: pointer;
    opacity: 0.7;
}
#fild1 {
        padding: 20px;
        margin: 20px;
        
}

#fild2{
    padding: 20px;
    margin: 20px;
}

#nome{
    padding: 2px;
    margin: 3px;
}


    
